force-app/main/default/flows/Asignments_19_Follow_up_on_New_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_after_1_day</name>
        <label>Send Email after 1 day</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Follow-up on New Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sendEmailAfter1day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_After_3_Days</name>
        <label>Send Email After 3 Days</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Follow-up on New Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sendEmailAfter3Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_Email_after_7_Days</name>
        <label>send Email after 7 Days</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Follow-up on New Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>sendEmailAfter7Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Asignments 19 || Follow-up on New Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignments 19 || Follow-up on New Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_1_Day</name>
            <connector>
                <targetReference>Send_Email_after_1_day</targetReference>
            </connector>
            <label>After 1 Day</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_3_Days</name>
            <connector>
                <targetReference>Send_Email_After_3_Days</targetReference>
            </connector>
            <label>After 3 Days</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_7_Days</name>
            <connector>
                <targetReference>send_Email_after_7_Days</targetReference>
            </connector>
            <label>After 7 Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>sendEmailAfter1day</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello &lt;/strong&gt;&lt;strong style=&quot;color: rgb(20, 144, 138);&quot;&gt;{!$Record.FirstName}{!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This is a friendly reminder regarding a new contact that was recently created in our system. It has been  1 days since the contact was added, and it appears that they are not associated with any business account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;We encourage you to reach out to them to establish a connection or gather more information about their needs. Please let us know if you require any assistance or if there&apos;s anything we can do to support you in this process.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank you for your attention to this matter.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$User.FirstName}{!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sendEmailAfter3Days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello &lt;/strong&gt;&lt;strong style=&quot;color: rgb(20, 144, 138);&quot;&gt;{!$Record.FirstName}{!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This is a friendly reminder regarding a new contact that was recently created in our system. It has been   3  days since the contact was added, and it appears that they are not associated with any business account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;We encourage you to reach out to them to establish a connection or gather more information about their needs. Please let us know if you require any assistance or if there&apos;s anything we can do to support you in this process.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank you for your attention to this matter.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$User.FirstName}{!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>sendEmailAfter7Days</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Hello &lt;/strong&gt;&lt;strong style=&quot;color: rgb(20, 144, 138);&quot;&gt;{!$Record.FirstName}{!$Record.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;This is a friendly reminder regarding a new contact that was recently created in our system. It has been  7 days since the contact was added, and it appears that they are not associated with any business account.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;We encourage you to reach out to them to establish a connection or gather more information about their needs. Please let us know if you require any assistance or if there&apos;s anything we can do to support you in this process.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank you for your attention to this matter.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Best regards,&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$User.FirstName}{!$User.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 176, 187);&quot;&gt;{!$Organization.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
