force-app/main/default/flows/Assignment25_Apex_Action_Random_Stage_Name_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_StageName_with_the_random</name>
        <label>Generate StageName with the random</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>OpportunityUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_stageName</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>OpportunityUtility</nameSegment>
        <outputParameters>
            <assignToReference>outputStageName</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Assignment25 || {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment25 || Apex Action (Random Stage Name Generator)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_stageName</name>
        <label>Update stageName</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>outputStageName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_StageName_with_the_random</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>outputStageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
