force-app/main/default/flows/Assignment_3_Creating_a_New_Contact_When_None_Exists.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>is_there_any_contact</name>
        <label>is there any contact?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_contact</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_z</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assignment 3 | Creating a New Contact When None Exists {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 3 | Creating a New Contact When None Exists</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_new_contact</name>
        <label>create new contact</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>SCREEN_MSG</targetReference>
        </connector>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_any_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCREEN_MSG</name>
        <label>SCREEN T</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 128, 0); font-family: verdana; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;GooOd!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 128, 0); font-family: verdana; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 128, 0); font-family: courier; font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;A new contact with the name {!First_Name} {!Last_Name}  has been created&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_X</name>
        <label>screen X</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <fields>
            <name>create_contact</name>
            <fieldText>create contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>create_contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>create_contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SCREEN_z</name>
        <label>SCREEN z</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 102, 0); font-family: courier; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;OOOpS!!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 102, 0); font-family: courier; font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;There is already a contact with the name {!First_Name} {!Last_Name} !!!!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_X</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
