force-app/main/default/flows/Assignment_10_Account_Rating_Based_Contact_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>singleContact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName2.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign3</name>
        <label>assign3</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>singleContact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tertiary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName2.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>singleContact.Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Secondary</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName2.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>which_Rating</name>
        <label>which Rating?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assign3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cold or Blank</defaultConnectorLabel>
        <rules>
            <name>if_Rating_is_Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hot</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <label>if Rating is Hot</label>
        </rules>
        <rules>
            <name>is_Rtaing_is_Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_account.Rating</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_2</targetReference>
            </connector>
            <label>is Rtaing is Warm</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assignment 10 | Account Rating-Based Contact Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 10 | Account Rating-Based Contact Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorMsg</targetReference>
        </faultConnector>
        <inputReference>singleContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>errorMsg</name>
        <label>errorMsg</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>which_Rating</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName2.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Login_Information</name>
        <label>Login Information</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <fields>
            <name>AccountName2</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaySuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;A new primary contact with the name {&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(77, 211, 53);&quot;&gt;{!ContactName.firstName} {!ContactName.lastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; has been created for the Account &lt;/strong&gt;&lt;strong style=&quot;color: rgb(48, 213, 44); font-family: Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!AccountName2.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Login_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>singleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
