force-app/main/default/flows/Assignment_21_Account_Deactivation_Procedure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_There_Case</name>
        <label>Is There Case?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete_cases</targetReference>
            </connector>
            <label>YESS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Assignment 21 || Account Deactivation Procedure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 21 || Account Deactivation Procedure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>api_Log</name>
        <label>api Log</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Title__c</field>
            <value>
                <stringValue>Assignment 21 || Account Deactivation Procedure  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>delete_cases</name>
        <label>delete cases</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>api_Log</targetReference>
        </faultConnector>
        <inputReference>case</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>case</name>
        <label>case</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_opp</name>
        <label>update opp</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>case</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
