force-app/main/default/flows/Assignment_50_Final_Assignment_Automated_Credit_Card_Application_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreditCardApplication</name>
        <label>CreditCardApplication</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <actionName>AutomatedCreditCardCallout.AutomatedCreditCardCallout</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>scr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>socialSecurityNumber</name>
            <value>
                <stringValue>123-45-6804</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AutomatedCreditCardCallout.AutomatedCreditCardCallout</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_credit_card_no</name>
        <label>Generate credit card no</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <actionName>CreditCard</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>generate_cvv</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CreditCard</nameSegment>
        <outputParameters>
            <assignToReference>generateCreditCardOutput</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>generate_cvv</name>
        <label>generate cvv</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>CVVGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Credit_Card</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>CVVGenerator</nameSegment>
        <outputParameters>
            <assignToReference>cvvGenerateOutput</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>Advanced_graduate_degree</name>
        <choiceText>Advanced/graduate degree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advanced/graduate degree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bachelor_s_degree</name>
        <choiceText>Bachelor&apos;s degree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bachelor&apos;s degree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Checking_only</name>
        <choiceText>Checking only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checking only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Checking_saving</name>
        <choiceText>Checking &amp; saving</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Checking &amp; saving</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employed</name>
        <choiceText>Employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_school_diploma_or_GED</name>
        <choiceText>High school diploma or GED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High school diploma or GED</stringValue>
        </value>
    </choices>
    <choices>
        <name>Home</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Less_than_a_high_schoool_diploma</name>
        <choiceText>Less than a high schoool diploma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than a high schoool diploma</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mobile</name>
        <choiceText>Mobile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retired</name>
        <choiceText>Retired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Saving_only</name>
        <choiceText>Saving only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Saving only</stringValue>
        </value>
    </choices>
    <choices>
        <name>Self_Employed</name>
        <choiceText>Self-Employed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Self-Employed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Some_college_or_associate_degree</name>
        <choiceText>Some college or associate degree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Some college or associate degree</stringValue>
        </value>
    </choices>
    <choices>
        <name>Student</name>
        <choiceText>Student</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Student</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unemployed</name>
        <choiceText>Unemployed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unemployed</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Credit_Score</name>
        <label>Credit Score?</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>notApproved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt; 700</defaultConnectorLabel>
        <rules>
            <name>if_Credit_score_700</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditCardApplication.2XX.creditScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>700.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approvedScreen</targetReference>
            </connector>
            <label>if Credit score  &gt;= 700</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>exprationDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()) + 5, MONTH(TODAY()), DAY(TODAY()))</expression>
    </formulas>
    <interviewLabel>Assignment 50 || Final Assignment | Automated Credit Card Application Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 50 || Final Assignment | Automated Credit Card Application Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Card</name>
        <label>Create Credit Card</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Credit_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>App_suite__c</field>
            <value>
                <elementReference>App_suite_if_applicable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CVV__c</field>
            <value>
                <elementReference>cvvGenerateOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Holder_Name__c</field>
            <value>
                <stringValue>{!Legal_First_Name} {!Legal_Last_Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Number__c</field>
            <value>
                <elementReference>generateCreditCardOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_inquiry_authorization__c</field>
            <value>
                <elementReference>Credit_inquiry_authorization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>Date_of_Birth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electronic_Communications__c</field>
            <value>
                <elementReference>Electronic_Communications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>exprationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_First_Name__c</field>
            <value>
                <elementReference>Legal_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Last_Name__c</field>
            <value>
                <elementReference>Legal_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MI__c</field>
            <value>
                <elementReference>IM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_rent_mortgage__c</field>
            <value>
                <elementReference>Monthly_rent_mortgage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Residential_Address__c</field>
            <value>
                <elementReference>Residential_Address_P_O_box_is_not_valid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Security_Number__c</field>
            <value>
                <elementReference>Social_Security_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Annual_Income__c</field>
            <value>
                <elementReference>Total_annual_income</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Account_Information</name>
        <label>Account Information</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Identity_Verification</targetReference>
        </connector>
        <fields>
            <name>PI7</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>7</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Account Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Do_you_have_want_any_bank_accounts</name>
            <choiceReferences>Checking_saving</choiceReferences>
            <choiceReferences>Checking_only</choiceReferences>
            <choiceReferences>Saving_only</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have want any bank accounts?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Address_Information</name>
        <label>Address Information</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
        <fields>
            <name>PI2</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Address Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿Nice to Meet you,Engin.Let us know Where you Live so we can verify your identity.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;You can add a mailing address later so we know where to send your card.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Address_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Residential_Address_P_O_box_is_not_valid</name>
                    <fieldText>Residential Address (P.O.box is not valid)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>App_suite_if_applicable</name>
                    <dataType>String</dataType>
                    <fieldText>App/ suite(if applicable)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agreement</name>
        <label>Agreement</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreditCardApplication</targetReference>
        </connector>
        <fields>
            <name>PI9</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Agreement</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg9</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;One last step to see if you&apos;re eligible.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;You need your aggrement to the following terms.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;This tool may show cards that have terms,features, and eligibility requirements that differ from our cards available elsewhere.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Electronic_Communications</name>
            <dataType>Boolean</dataType>
            <fieldText>Electronic Communications</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayMsgElectronicCom</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;I have reviewed and agree to the terms of the &lt;/span&gt;&lt;strong style=&quot;font-size: 11px; background-color: rgb(255, 255, 255); color: rgb(83, 133, 211);&quot;&gt;&lt;u&gt;Electronic Communications Disclosure&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.I confirm that I will receive communications regarding credit card offer eligibility by electronic means only.I confirm that I have the ability to save or print web pages.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_inquiry_authorization</name>
            <dataType>Boolean</dataType>
            <fieldText>Credit inquiry authorization</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>displayMsgCreditAUT</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;By checking this box, I am providing written instructions to Capital One under the federal Fair Credit Reporting Act and applicable state law,authorizing Capital One to obtain information about me today from consumer reporting agencies, and Demand Deposit Account data,such as checking account information ,to determine if I am eligible for credit card offer(s) today anf in future.I am aauthorizing Capital One to use consumer report information that it collects for analysis and to otherwise improve the product and services if offers.I understand that Capital One&apos;s &lt;/span&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(63, 90, 172);&quot;&gt;&lt;u&gt;privacy policies &lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;apply to the data that I am submitting and I understand that this is not a credit card application.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Seeing if you&apos;re pre-approved wont hurt your credit score.If you decıde to apply for a card you&apos;re pre-approved for,your credit score may be impacted when you submit the appication.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>See if I&apos;m pre-approved</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>approvedScreen</name>
        <label>approvedScreen</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Congratulations! Your Credit Card Application Has Been APPROVED&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Dear {!Legal_First_Name}  {!Legal_Last_Name},&lt;/p&gt;&lt;p&gt;We are thrilled to inform you that your appication hass been approved!&lt;/p&gt;&lt;p&gt;Here are your temporary card details,which you can use immediately for your purchases until your physical card arrives;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PTSBank</name>
            <extensionName>c:creditCard</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cardHolder</name>
                <value>
                    <stringValue>{!Legal_First_Name}  {!Legal_Last_Name}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cardNumber</name>
                <value>
                    <elementReference>generateCreditCardOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cvv</name>
                <value>
                    <elementReference>generate_cvv</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>expiryDate</name>
                <value>
                    <elementReference>exprationDate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employment_Status</targetReference>
        </connector>
        <fields>
            <name>PI3</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Contact Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿Let us know How to Communicate with You.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;If you become a customer,we&apos;ll notify you via text,email or Phone if we notice potential suspicious transaction on your account.Ypu can opt out it any time.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PrimaryPhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Phone_Type</name>
                    <choiceReferences>Mobile</choiceReferences>
                    <choiceReferences>Home</choiceReferences>
                    <choiceReferences>Phone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Phone Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Educational_Information</name>
        <label>Educational Information</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Financial_Information</targetReference>
        </connector>
        <fields>
            <name>PI5</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Educational Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_is_the_Highest_Level_education_you_ve_completed</name>
            <choiceReferences>Less_than_a_high_schoool_diploma</choiceReferences>
            <choiceReferences>High_school_diploma_or_GED</choiceReferences>
            <choiceReferences>Some_college_or_associate_degree</choiceReferences>
            <choiceReferences>Bachelor_s_degree</choiceReferences>
            <choiceReferences>Advanced_graduate_degree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is the Highest Level education you&apos;ve completed?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Skip_this_question</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Skip_this_question</name>
            <dataType>Boolean</dataType>
            <fieldText>Skip this question</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employment_Status</name>
        <label>Employment Status</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Educational_Information</targetReference>
        </connector>
        <fields>
            <name>PI4</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Employment Status</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>What_is_Your_Employment_status</name>
            <choiceReferences>Employed</choiceReferences>
            <choiceReferences>Self_Employed</choiceReferences>
            <choiceReferences>Retired</choiceReferences>
            <choiceReferences>Student</choiceReferences>
            <choiceReferences>Unemployed</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What is Your Employment status?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Financial_Information</name>
        <label>Financial Information</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Information</targetReference>
        </connector>
        <fields>
            <name>PI6</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Financial Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg6</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Let&apos;s get a snapshot of your financial situation.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;We use this information to match you to the right product.Changing this information later in the application process could affect your approvel chances.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;We use this information to match you to the right product.Changing this information later in the application process could affect your approvel chances.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Financial_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_annual_income</name>
                    <dataType>Number</dataType>
                    <fieldText>Total annual income</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;(Total Annual Income):&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;You may include personal income, which is income you have earned, including full-time, part-time, or seasonal jobs, self-employment, interest or dividends, retirement, and public assistance. You may also include shared income, which is money from somebody else that is regularly deposited into your individual account or into a joint account that person shares with you. If you are 21 or over, you may also include somebody else&apos;s income that is regularly used to pay your expenses.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>displayMsgTotalAnnual</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; color: rgb(68, 68, 68);&quot;&gt;You don&apos;t need to include alimony,child support or separate maintenance income if you don&apos;t want if considered as part of your ability to make payments.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financial_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monthly_rent_mortgage</name>
                    <dataType>Number</dataType>
                    <fieldText>Monthly rent/mortgage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>displayMsgMontlyrent</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;;&quot;&gt;Enter the amount you pay individually for hpusing,excluding utilities.If someone alse pays for you,enter $0&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Identity_Verification</name>
        <label>Identity Verification</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agreement</targetReference>
        </connector>
        <fields>
            <name>PI8</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>8</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Identity Verification</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg8</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;You are almost done!Help us protect you from fraud and verify your identity.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Identity_Verification_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Identity_Verification_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of Birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;Date of Birth must be entered and you must be at least 18 years old.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>NOT(
    OR(
        ISBLANK({!Date_of_Birth}),
        (TODAY() - {!Date_of_Birth}) &lt; 365 * 18
    )
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Identity_Verification_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Social_Security_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Social Security Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;REGEX( {!5d167f25-7cac-425d-afc1-9e5d959ab8b3} , &quot;[0-9]{3}-[0-9]{2}-[0-9]{4}&quot;)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;Please write in this format:&amp;nbsp;&apos;XXX-XX-XXXX&apos;, where&amp;nbsp;X&amp;nbsp;is a digit from 0-9


&lt;/pre&gt;</errorMessage>
                        <formulaExpression>REGEX( {!Social_Security_Number} , &quot;[0-9]{3}-[0-9]{2}-[0-9]{4}&quot;)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>notApproved</name>
        <label>notApproved</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notApprovedMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you,{!$User.FirstName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;We reviewed your information and,unfortunately,we can&apos;t pre-approve you for a &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Bank of PTS&lt;/strong&gt;&lt;strong&gt; consumer credit card at this time.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scr</name>
        <label>CreditCardAppResult</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_credit_card_no</targetReference>
        </connector>
        <fields>
            <name>ds</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;FirstName: {!CreditCardApplication.2XX.firstName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Response Code : &lt;/strong&gt;&lt;strong&gt;{!CreditCardApplication.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Credit Score: {!CreditCardApplication.2XX.creditScore}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Social Security Number : &lt;/strong&gt;&lt;strong&gt;{!CreditCardApplication.2XX.socialSecurityNumber}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Your_Information</name>
        <label>Your Information</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address_Information</targetReference>
        </connector>
        <fields>
            <name>PI1</name>
            <extensionName>c:progressIndicatorFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stages</name>
                <value>
                    <stringValue>1,2,3,4,5,6,7,8,9</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <stringValue>Base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stageTitle</name>
                <value>
                    <stringValue>Your Information</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displayMsg1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Let&apos;s See if You Are Pre-approved for Card Offers.What is Your Legal Name?&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;We need your Legal Name to verify your identity&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Your_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Your_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Legal First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IM</name>
                    <dataType>String</dataType>
                    <fieldText>IM</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Legal_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Legal Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Your_Information</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>cvvGenerateOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>exprationDateVar</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2029-11-06</dateValue>
        </value>
    </variables>
    <variables>
        <name>generateCreditCardOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
