force-app/main/default/flows/Assignment_24_HTTPCallout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Assignment24HTTPCallout.Assignment24HTTPCallout2</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>ResponseScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Assignment24HTTPCallout.Assignment24HTTPCallout2</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setting_contact_variables</name>
        <label>setting contact variables</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>newAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.age</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.contact.phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.address.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.address.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Customers.address.zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Customers</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Assignment 24 || HTTPCallout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 24 || HTTPCallout</label>
    <loops>
        <name>Loop_Customers</name>
        <label>Loop Customers</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Accounts.2XX</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setting_contact_variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <faultConnector>
            <targetReference>errorScrn</targetReference>
        </faultConnector>
        <inputReference>accountList</inputReference>
    </recordCreates>
    <screens>
        <name>errorScrn</name>
        <label>errorScrn</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ResponseScreen</name>
        <label>ResponseScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Customers</targetReference>
        </connector>
        <fields>
            <name>DisplayResponseeMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(205, 23, 193);&quot;&gt;{!Get_Accounts.responseCode}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!Get_Accounts.2XX}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
