force-app/main/default/flows/Assignment_4_New_Contact_with_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>assign_AccountId</name>
        <label>assign AccountId</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Most_Recent_Business_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>other_AccountId</name>
        <label>other AccountId</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>AccountID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_you_link_checked</name>
        <label>if you link checked?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>other_AccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YeS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Link_to_Most_Recent_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Most_Recent_Business_Account</targetReference>
            </connector>
            <label>YeS</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Assignment 4 | New Contact with Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assignment 4 | New Contact with Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Contact</name>
        <label>create Contact</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>screen_Y</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_ErrorLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Birthdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Level__c</field>
            <value>
                <elementReference>Level2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Most_Recent_Business_Account</name>
        <label>Get Most Recent Business Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_ErrorLog</name>
        <label>screen ErrorLog</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(28, 53, 225);&quot;&gt;contact can not create&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(241, 127, 26);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_x</name>
        <label>screen x</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>if_you_link_checked</targetReference>
        </connector>
        <fields>
            <name>screen_x_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_x_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Link_to_Most_Recent_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Link to Most Recent Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_x_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Birthdate</name>
                    <dataType>Date</dataType>
                    <fieldText>Birthdate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Level2</name>
                    <choiceReferences>level</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Link_to_Most_Recent_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create CONTACT</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Y</name>
        <label>screen Y</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(31, 189, 66);&quot;&gt;New Contact is created with following information&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(235, 41, 214); font-size: 12px;&quot;&gt;Contact Name:&lt;/strong&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt; {!ContactName.firstName} {!ContactName.lastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(212, 44, 194); background-color: rgb(255, 255, 255);&quot;&gt;Date of Birth&lt;/strong&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(212, 44, 194); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 11px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Birthdate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(215, 35, 184); font-size: 12px;&quot;&gt;Level:&lt;/strong&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt; {!Level2}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(209, 30, 191); font-size: 12px;&quot;&gt;Phone &lt;/strong&gt;&lt;strong style=&quot;font-size: 11px;&quot;&gt;: {!Phone.value}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(224, 44, 182); font-size: 12px;&quot;&gt;Account&lt;/strong&gt;&lt;strong style=&quot;color: rgb(224, 44, 182); font-size: 11px;&quot;&gt; : &lt;/strong&gt;&lt;strong style=&quot;color: rgb(21, 17, 20); font-size: 11px;&quot;&gt;{!Account.recordName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>DonE</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screen_x</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
