force-app/main/default/flows/GM_31_BMI_Calculation_for_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Time</name>
        <label>Check Time?</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>On Update</defaultConnectorLabel>
        <rules>
            <name>On_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_First_BMI</targetReference>
            </connector>
            <label>On create</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BMI</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Weight__c} / ({!$Record.Height__c}/100 * {!$Record.Height__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>GM 31 || BMI Calculation for Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM 31 || BMI Calculation for Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Last_BMI_Calculated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recent_BMI__c</field>
            <value>
                <elementReference>BMI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_BMI</name>
        <label>Update First BMI</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>First_BMI__c</field>
            <value>
                <elementReference>BMI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_BMI_Calculated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Weight__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Height__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
