force-app/main/default/flows/GM_34_Total_Members_Calculation_like_summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>totalEnrollments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Enrollemnts_of_Related_Class</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Class</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GM 34 || Total Members Calculation (like summary) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM 34 || Total Members Calculation (like summary)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Enrollemnts_of_Related_Class</name>
        <label>Get Enrollemnts of Related Class</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Class__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Class__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Class</name>
        <label>Update Related Class</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Class__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Members__c</field>
            <value>
                <elementReference>totalEnrollments</elementReference>
            </value>
        </inputAssignments>
        <object>Class__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enrollemnts_of_Related_Class</targetReference>
        </connector>
        <object>Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalEnrollments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
