force-app/main/default/flows/GM_46_HTTP_Callout_POST_DELETE_Send_Data_From_SF_to_PTS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sendDataFromSFtoPTS</name>
        <label>sendDataFromSFtoPTS</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>sendCustomerFromSFtoPTS.sendCustomerFromSFtoPTS</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>token</name>
            <value>
                <stringValue>NJbn8DImFWEYS2k16VCP4vBOAvY5SnT4pfRpYQQlVZqjOpn3ceInjFPTC2ShbDPt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Customer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendCustomerFromSFtoPTS.sendCustomerFromSFtoPTS</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Customer.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>postRecord</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>deneme</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>destina651@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3335678653</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Customer.gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>female</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sendDataFromSFtoPTS</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>GM 46 || HTTP Callout (POST, DELETE) Send Data  From SF to PTS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM 46 || HTTP Callout (POST, DELETE) Send Data  From SF to PTS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Customer</name>
        <apexClass>ExternalService__sendCustomerFromSFtoPTS_sendCustomerFromSFtoPTS_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
