force-app/main/default/flows/GM_43_Generate_Contacts_with_qinvocablemethod_in_apex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Contacts</name>
        <label>Generate Contacts</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>GenerateRandomContacts</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>firstNAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>lastNAME</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>numberOfContacts</name>
            <value>
                <elementReference>Number_of_Contacts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GenerateRandomContacts</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>GM 43 || Generate Contacts with qinvocablemethod in apex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM 43 || Generate Contacts with qinvocablemethod in apex</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>screenA</name>
        <label>screenA</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_Contacts</targetReference>
        </connector>
        <fields>
            <name>Number_of_Contacts</name>
            <dataType>Number</dataType>
            <fieldText>Number of Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>firstNAME</name>
            <dataType>String</dataType>
            <fieldText>firstNAME</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>lastNAME</name>
            <dataType>String</dataType>
            <fieldText>lastNAME</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenA</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
