force-app/main/default/flows/GM_Active_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>singleAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleAccount.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Accounts</name>
        <label>Count Accounts</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TotalAccount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Inactive_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_any_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_there_any_Account</name>
        <label>Is there any Account?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Accounts</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GM | Active Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM | Active Accounts</label>
    <loops>
        <name>Loop_Accounts</name>
        <label>Loop Accounts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Inactive_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>API_Log</name>
        <label>API Log</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Title__c</field>
            <value>
                <stringValue>GM | Active Accounts  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>API_Log_Success</name>
        <label>API Log Success</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <stringValue>Well Done ! accounts Activated</stringValue>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Inactive_Accounts</name>
        <label>Get Inactive Accounts</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>accountList</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>API_Log</targetReference>
        </connector>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(230, 100, 34);&quot;&gt;There is No Any Account Found for Update&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>success_Screen</name>
        <label>success Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>API_Log_Success</targetReference>
        </connector>
        <fields>
            <name>SucessMSG</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 36, 205);&quot;&gt;super!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 36, 205);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;color: rgb(25, 21, 23);&quot;&gt;{!TotalAccount} &lt;/strong&gt;&lt;strong style=&quot;color: rgb(228, 36, 205);&quot;&gt; Accounts have been Activated&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inactive_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>singleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TotalAccount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
