force-app/main/default/flows/GM_Practice_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>set_values_to_my_variables</name>
        <label>set values to my variables</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eslem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dirik</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DOB</assignToReference>
            <operator>Assign</operator>
            <value>
                <dateValue>1983-03-02</dateValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Age</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gökhan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bulut</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact2.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contact2.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contact2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_A</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>LeadSourceFromContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LeadSource</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>GM | Practice Resources {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM || Praktika  Resources</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Contacts</name>
        <label>create Contacts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <inputReference>contacts</inputReference>
    </recordCreates>
    <screens>
        <name>screen_A</name>
        <label>screen A</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Contacts</targetReference>
        </connector>
        <fields>
            <name>displayVariables</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;f. Name: {!firstName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;L.Name: {!lastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;DOB: {!DOB}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Age: {!Age}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>set_values_to_my_variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Age</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contact2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadSource</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
