force-app/main/default/flows/GT_New_Contact_with_Case_used_subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Do_we_create_Case</name>
        <label>Do we create Case?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Case</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Case</targetReference>
            </connector>
            <label>Yess</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>GT || New Contact with Case (used subflow) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM  24 || New Contact with Case (used subflow)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Contact</name>
        <label>create Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Do_we_create_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>contact_Screen</name>
        <label>contact Screen</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_Contact</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_Case</name>
            <dataType>Boolean</dataType>
            <fieldText>Create Case</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_subject</name>
            <dataType>String</dataType>
            <fieldText>Case subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Case</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CaseIddisplayMsg</name>
            <fieldText>&lt;p&gt;new case with the&lt;strong&gt; id  {!caseId}  &lt;/strong&gt;has been created...&lt;/p&gt;&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;subject  : {!Case_subject}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>contact_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>New_Case</name>
        <label>New Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Result</targetReference>
        </connector>
        <flowName>Subflow_New_Case</flowName>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>create_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>Case_subject</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>caseId</assignToReference>
            <name>caseId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
