force-app/main/default/flows/HM_27_Record_Trigger_Flow_New_Income_for_each_New_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>check_Config_meta</name>
        <label>check Config meta</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>create_success_Log</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Config.Success_Log__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>apiLog_SuccessMsg</targetReference>
            </connector>
            <label>create success Log</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_we_Run_Flow</name>
        <label>When we Run Flow?</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RUN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Config.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Income</targetReference>
            </connector>
            <label>RUN</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncomeLabel</name>
        <dataType>String</dataType>
        <expression>&apos;Payment for&apos; +   {!$Record.Member__r.FirstName} + &apos; &apos; + {!$Record.Member__r.LastName}</expression>
    </formulas>
    <interviewLabel>HM 27 || Record Trigger  Flow | New Income for each New Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GM 27  || Record Trigger Flow || New Income for each New Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>apiLog</name>
        <label>apiLog</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Title__c</field>
            <value>
                <stringValue>GM 27 || Record Trigger Flow || New Income for each New Payment  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>apiLog_SuccessMsg</name>
        <label>apiLog SuccessMsg</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Is_Error__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Title__c</field>
            <value>
                <stringValue>GM 27 || Record Trigger Flow || New Income for each New Payment  </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageBody__c</field>
            <value>
                <stringValue>New Income is created  for  payment  {!$Record.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>API_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Income</name>
        <label>create Income</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>check_Config_meta</targetReference>
        </connector>
        <faultConnector>
            <targetReference>apiLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Income_Label__c</field>
            <value>
                <elementReference>IncomeLabel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Income_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Amount__c</field>
            <value>
                <elementReference>$Record.Paid_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Date__c</field>
            <value>
                <elementReference>$Record.Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Income__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Config</name>
        <label>Get Config</label>
        <locationX>512</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>When_we_Run_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GM 27 || Record Trigger Flow || New Inco</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Config</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
